

body {
    background-color: #e91f1f;
    background-image: linear-gradient(315deg, #e91f1f 12%, #e7da43 49%, #dd6125 77%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aguila{
    width: 55%;
    margin: 0 auto;
}

h1 {
    font-family: "Arima", serif;
    font-size: 50px ;
    font-style: italic;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.colorNav {
    color: black;
    font-family: fantasy;
    font-size: 22px;
    padding: 10px;
        
}

.colorNav:hover {
    color: rgb(117, 23, 23);
            
}
p {
    font-family: "Roboto Ital 100", sans-serif;
    padding-right: 20px;
}

p::first-letter{
    font-size: 26px;
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
    
}
.styleImg{
    border: 3px solid black;
    border-radius: 3%;

}
section {
    margin-top: 33px;
    margin-bottom: 30px;
}

.margen{
    margin-top: 35px;
    margin-bottom: 30px;
}
.centrar{
    margin-left: 13px;
}

.padding-top{
    padding-top: 15px;
}

/*  CODIGO FORMULARIO DE CONTACTO FOOTER */
textarea {
    resize: none;
    background-color: #FAD961;
    background-image: linear-gradient(315deg, #FAD961 0%, #F76B1C 100%);
    font-size: 1.4rem black;
    border: 0.2rem solid black;
    width: 20rem;
}

input {
    background-color: #FAD961;
    background-image: linear-gradient(315deg, #FAD961 0%, #F76B1C 100%);
    font-size: 1.4rem black;
    border: 0.2rem solid black;
    width: 20rem;
}

button {
    font-size: 1.4rem black;
    border: 0.2rem solid black;
    width: 20rem;
    background-color: #FAD961;
    background-image: linear-gradient(315deg, #FAD961 0%, #F76B1C 100%);
}

#youtube, #blog, #wsp {
    color: black;
    font-size: 1.5rem;
    font-family: "Roboto Ital 100";
    text-decoration: none;
    font-weight: bold;
    list-style: none;
}

#youtube:hover,
#blog:hover {
    color: rgb(14, 14, 126);
    text-decoration: underline;
}
.contac {
    font-family: "Oswald300";
    font-size: 1rem;
    font-weight: bold;
    list-style: none;}

section div ul{
    list-style: none;
    }
section div {
    margin-top: 10px;
}


/* PROPIEDADES PARA MEDIAQUERIES */

@media screen and (max-width: 768px) {
    .mobile1{
        flex-direction: column-reverse;     
    }
    h2, .contac{
        margin-top: 20px;
    }
    h2 {
        font-weight: normal;
        margin-bottom: 20px;
        font-family: "Rubik Dirt";
    }
    
    .colorNav {
        color: black;
        font-family: "Mouse Memoirs";
        font-size: 22px;
        padding: 10px;
            
    }
    
    .colorNav:hover {
        color: rgb(117, 23, 23);
                
    }
      
}