$bg-color-fondo: #e91f1f;
$bg-image-fondo:  linear-gradient(315deg, #e91f1f 12%, #e7da43 49%, #dd6125 77%);
$bg-color-form:  #FAD961;
$bg-image-form: linear-gradient(315deg, #FAD961 0%, #F76B1C 100%);
$color-hover-nav:  rgb(117, 23, 23);
$color-hover-form: rgb(128, 12, 12);
$color-letra: black;
$borde-form: 0.2rem solid black;
$ancho-form: 20rem