section div {
    margin-top: 10px;
    ul{
        list-style: none;
    }
}
textarea, input, button {
    @extend %formulario;  
}

.contac {
    font-family: map-get($lista-contacto, fuente);
    font-size: map-get($lista-contacto, tamano);
    font-weight: map-get($lista-contacto, negrita);
    list-style: map-get($lista-contacto, estilo);
}

#youtube, #blog {
   @extend %redes;
}

#wsp {
    @extend %wsp;
}
